@using ComputerStore.WebUI.Models
@model EditCPUsViewModel
@{
    ViewBag.Title = "Процессоры";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <link href="@Url.Content("~/Content/Admin.css")" rel="stylesheet" type="text/css" />
</head>

<div class="name">
    <h3>Список процессоров</h3>
</div>

        

    <form method="get">
        <div class="Search">
            @Html.ActionLink("Добавить товар", "CreateCPU", null,
                   new { @class = "btn btn-primary" })
            <input name="name" class="form-control" placeholder="Название" />
            <input type="submit" value="Поиск" class="btn btn-primary" />
        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed table-bordered">
                <tr>
                    <th class="text-right">ID</th>
                    <th>Название</th>
                    <th class="text-right">Цена</th>
                    <th class="text-center"></th>
                </tr>
                @foreach (var item in @Model.CPUs)
                {
                    <tr>
                        <td class="text-right">@item.Id</td>
                        <td>@Html.ActionLink(item.Brand +" "+ item.Name, "EditCPU", new { item.Id })</td>
                        <td class="text-right">@item.Price.ToString("# ₽")</td>
                        <td class="text-center">
                            @using (Html.BeginForm("DeleteProduct", "Admin"))
                            {
                                @Html.Hidden("Id", item.Id)
                                <input type="submit"
                                       class="btn btn-primary"
                                       value="Удалить" />
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

<style>
    .name{
        margin-left: 1%;
    }
</style>