@using ComputerStore.Domain.Entities
@using ComputerStore.WebUI.Models
@using ComputerStore.WebUI.HtmlHelpers
@model RAMsListViewModel


@{
    ViewBag.Title = "Блоки питания";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <div class="row mt-5 mb-2">
        <br />
        @foreach (var p in @Model.RAMs)
        {
            <div class="col-lg-4">
                <div class="pricing">
                    <div class="container">

                        <div class="pricing__grid">
                            <div class="pricing__card pricing-card pricing-card_videocarta">
                                <div class="pricing-card__top">
                                    <div class="pricing-card__title">
                                        <h4>@p.Name</h4>
                                    </div>
                                    <div class="pricing-card__price">
                                        <h4> @p.Price.ToString("# ₽")<span></span></h4>
                                    </div>
                                    @if (p.ImageData == null)
                                    {
                                        <img class='picture' src="https://cdn1.ozone.ru/s3/multimedia-a/c1200/6052812118.jpg" height="130" width="130">
                                    }
                                    else
                                    {
                                        <img class="picture" width="130" height="130"
                                             src="@Url.Action("GetImage", "Power",
                                      new { p.Id })" />
                                    }
                                </div>

                                <div class="pricing-card__body">
                                    <div class="pricing-card__pluses">
                                        <div class="pricing-card__plus">
                                            <div class="pricing-card__plus-icon"><h4></h4></div>
                                            <div class="pricing-card__plus-text"></div>
                                        </div>

                                        <div class="pricing-card__plus">
                                            <div class="pricing-card__plus-icon">
                                                @p.Description
                                            </div>
                                            <div class="pricing-card__plus-text"></div>
                                        </div>

                                        <div class="pricing-card__plus">
                                            <div class="pricing-card__plus-icon"><h4></h4></div>
                                            <div class="pricing-card__plus-text"></div>
                                        </div>

                                        <div class="pricing-card__plus">

                                        </div>

                                    </div>

                                    <div class="characteristic">
                                        Характеристики
                                        <br />
                                        Тип памяти: @p.TypeOfMemory
                                        <br />
                                        Объем модуля памяти: @p.Memory
                                        <br />
                                        Частота: @p.Frequency
                                        <br />
                                    </div>
                                    <br />
                                    @Html.Partial("RAMSummary", p)
                                    @*@using (Html.BeginForm("AddToCart", "Cart"))
                                    { }*@
                                    <style>
                                        .characteristic {
                                            border-radius: 5px;
                                            border: 1px black solid;
                                            font-weight: bold;
                                            font-size: 13px;
                                            padding: 5px;
                                        }

                                        .row {
                                            
                                            border-radius: 8px;
                                            background-image: url(https://imgur.com/Pfqb8py.png);
                                            -webkit-box-shadow: -2px 6px 29px 2px rgba(116, 118, 120, 0.38);
                                            -moz-box-shadow: -2px 6px 29px 2px rgba(116, 118, 120, 0.38);
                                            box-shadow: -2px 6px 29px 2px rgba(116, 118, 120, 0.38);
                                        }

                                        .container {
                                            padding: 25px;
                                        }
                                        
                                       
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div>
        <ul class="pagination pagination-lg justify-content-center">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
        </ul>
    </div>
