@using ComputerStore.WebUI.HtmlHelpers
@using ComputerStore.WebUI.Models
@model MBsListViewModel

@{
    ViewBag.Title = "Материнские платы";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

@*@foreach (var p in @Model.MBs)
     {
    <div>
        <h3> @p.Name</h3>
        <p>@p.Description</p>
        <h4>@p.Price.ToString("# руб")</h4>
    </div>
     }*@

<div class="row mt-5 mb-2">

    @foreach (var p in @Model.MBs)
    {
        <div class="col-lg-4">




            <div class="pricing">
                <div class="container">
                    <div class="pricing__grid">
                        <div class="pricing__card pricing-card pricing-card_videocarta">






                            <div class="pricing-card__top">


                                <div class="pricing-card__title"><h4>@p.Name</h4></div>


                                <div class="pricing-card__price">
                                    <h4> @p.Price.ToString("# ₽")<span></span></h4>
                                </div>

                                @*<img class='picture' src="https://cdn1.ozone.ru/s3/multimedia-a/c1200/6052812118.jpg" height="130" width="130">*@




                            </div>


                            <div class="pricing-card__body">


                                <div class="pricing-card__pluses">


                                    <div class="pricing-card__plus">


                                        <div class="pricing-card__plus-icon"><h4></h4></div>
                                        <div class="pricing-card__plus-text"></div>
                                    </div>





                                    <div class="pricing-card__plus">

                                        <div class="pricing-card__plus-icon">
                                            <img class='picture' src="https://cdn1.ozone.ru/s3/multimedia-a/c1200/6052812118.jpg" height="130" width="130">

                                            @p.Description

                                        </div>




                                        <div class="pricing-card__plus-text"></div>
                                    </div>

                                    <div class="pricing-card__plus">
                                        <div class="pricing-card__plus-icon"><h4></h4></div>
                                        <div class="pricing-card__plus-text"></div>
                                    </div>
                                    <div class="pricing-card__plus">

                                    </div>
                                </div>
                                @Html.Partial("MBSummary", p)
                                @using (Html.BeginForm("AddToCartMB", "Cart"))
                                {
                                    @*<div class="pull-right">
                                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                            <input type="submit" class="btn btn-success" value="Добавить в корзину" />
                                        </div>*@
                                }
                                @*<div class="pricing-card__button"><a href="">Select</a></div>*@



                                
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    }
</div>

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>