@using ComputerStore.Domain.Entities
@using ComputerStore.WebUI.Models
@using ComputerStore.WebUI.HtmlHelpers
@model MBsListViewModel


@{
    ViewBag.Title = "Материнские платы";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="row mt-5 mb-2">
    <br />

    <form method="get">
        <div class="Search">
            @Html.DropDownList("Brand", Model.Brand as SelectList,
                       htmlAttributes: new { @class = "form-control" })
            <input name="name" class="form-control" placeholder="Название" />

            <input type="submit" value="Поиск" class="btn btn-primary" />
        </div>
    </form>

    @foreach (var p in @Model.MBs)
    {
        <div class="col-lg-4">
            <div class="pricing">
                <div class="container">

                    <div class="pricing__grid">
                        <div class="pricing__card pricing-card pricing-card_videocarta">
                            <div class="pricing-card__top">
                                <div class="pricing-card__title">
                                    <h4>@p.Brand @p.Name</h4>
                                </div>
                                <div class="pricing-card__price">
                                    <h4> @p.Price.ToString("# ₽")<span></span></h4>
                                </div>
                                @if (p.ImageData == null)
                                {
                                    <img class='picture' src="https://cdn1.ozone.ru/s3/multimedia-a/c1200/6052812118.jpg" height="130" width="130">
                                }
                                else
                                {
                                    <img class="picture" width="130" height="130"
                                         src="@Url.Action("GetImage", "MB",
                                      new { p.Id })" />
                                }
                            </div>

                            <div class="pricing-card__body">
                                <div class="pricing-card__pluses">
                                    <div class="pricing-card__plus">
                                        <div class="pricing-card__plus-icon"><h4></h4></div>
                                        <div class="pricing-card__plus-text"></div>
                                    </div>

                                    <div class="pricing-card__plus">
                                        <div class="pricing-card__plus-icon">
                                            @p.Description
                                        </div>
                                        <div class="pricing-card__plus-text"></div>
                                    </div>

                                    <div class="pricing-card__plus">
                                        <div class="pricing-card__plus-icon"><h4></h4></div>
                                        <div class="pricing-card__plus-text"></div>
                                    </div>

                                    <div class="pricing-card__plus">

                                    </div>

                                </div>

                                <div class="characteristic">
                                    Характеристики
                                    <br />
                                    Чипсет: @p.Chipset
                                    <br />
                                    Сокет: @p.Soсket
                                    <br />
                                    Кол-во портов SATA: @p.SATACount
                                    <br />
                                    Кол-во портов SATA-E: @p.SATAECount
                                    <br />
                                    Кол-во портов M2: @p.M2Count
                                    <br />
                                    Кол-во портов USB: @p.USBCount
                                    <br />
                                    Кол-во портов PCI-E x16: @p.PCIEx16Count
                                    <br />
                                    Кол-во портов PCI-E x4: @p.PCIEx4Count
                                    <br />
                                    Кол-во портов PCI-E x1: @p.PCIEx1Count
                                    <br />
                                    Кол-во портов PCI: @p.PCICount
                                </div>
                                <br />
                                @Html.Partial("MBSummary", p)
                                @using (Html.BeginForm("AddToCart", "Cart"))
                                { }
                                <style>
                                    .characteristic {
                                        border-radius: 5px;
                                        border: 1px black solid;
                                        font-weight: bold;
                                        font-size: 13px;
                                        padding: 5px;
                                    }

                                    .row {
                                        border-radius: 8px;
                                        background-image: url(https://imgur.com/Pfqb8py.png);
                                        -webkit-box-shadow: -2px 6px 29px 2px rgba(116, 118, 120, 0.38);
                                        -moz-box-shadow: -2px 6px 29px 2px rgba(116, 118, 120, 0.38);
                                        box-shadow: -2px 6px 29px 2px rgba(116, 118, 120, 0.38);
                                    }

                                    .container {
                                        padding: 25px;
                                    }

                                    .form-control {
                                        width: 15%;
                                        display: inline;
                                        margin: 12px;
                                        margin-left: 2%;
                                    }

                                    .Search {
                                        width: 100%;
                                        height: 100px;
                                        margin-left: 1%;
                                    }

                                    .btn {
                                        height: 32px;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>